/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ==== END CSS RESET ==== */

body {
  background-color: #125463;
  text-align: center;
 }
p {
  max-width: 400px;
  margin: 50px auto;
  border-radius: 4px;
  text-align: center;
  padding: 15px 0;
  background-color: #fff;
}
main {
  max-width: 400px;
  margin: 50px auto;
  border-radius: 4px;
  padding: 15px 0;
  background-color: #fff;
  position: relative;
  text-align: center;
}  
#szem1, #szem2, #szem3, #szem4, #szemoldok1, #szemoldok2, #szemoldok3, #szemoldok4, #szaj1, #szaj2, #szaj3, #szaj4, #szaj5, #szaj6, #szaj7 {
  height: 40px;
}
#szemuveg1, #szemuveg2 {
  height: 70px;
}
#fej > img {
  height: 200px;
  padding-top: 40px;
}
#haj1 {
  top: 110px;
  left: 110px;
  position: absolute;
  height: 200px;
}
#szem4 {
  top: 185px;
  left: 170px;
  position: absolute;
}
#szaj7 {
  top: 230px;
  left: 155px;
  position: absolute;
}
#szemoldok1 {
  top: 170px;
  left: 150px;
  position: absolute;
}
#szemuveg1 {
  top: 170px;
  left: 125px;
  position: absolute;
}
h1, h2 {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 25px;
  font-family: sans-serif;
}

